In [2]:
import numpy as np

In [31]:
class Sequential:
  def __init__(self, model_name):
    self.model=model_name
    print(self.model)
    
  def mul(self,name, X,Y):
    mul=np.dot(np.transpose(X),Y)
    self.model=name
    return self.model









if __name__=="__main__":
  X=np.array([[1,2],[3,4], [5,6]])
  Y=np.array([1,1,1])
  #mul=np.dot(np.transpose(X), Y)
  model=Sequential("model_1")
  print(model.mul( "XYZ", X,Y))
  print(model.model)
  #print(model.model)
  model2=Sequential("model_2")
  print(model2.mul("No_name", X,Y))
  print(model2.model)

model_1
XYZ
XYZ
model_2
No_name
No_name

In [19]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

In [20]:
model=Sequential()
model.add(Dense(12, input_dim= 10, activation='relu' ))
model.add(Dense(1, activation='sigmoid'))

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                132

 dense_1 (Dense)             (None, 1)                 13

=================================================================
Total params: 145
Trainable params: 145
Non-trainable params: 0
_________________________________________________________________

In [23]:
type(model)

keras.engine.sequential.Sequential

In [1]:
class Student:
  def __init__(self, name, age, grade):
    self.name=name
    self.age=age
    self.grade=grade
  def get_grade(self):
    return self.grade
class Course:
  def __init__(self, name, max_students):
    self.name=name
    self.max_students=max_students
    self.students=[]
  def add(self, student):
    if len(self.students)<self.max_students:
      self.students.append(student)
s1=Student("S1", 12, 10)
s2=Student("S2", 13, 9)
C1=Course("Science", 2)
C2=Course("Arts", 2)
C1.add(s1)
C2.add(s2)

In [17]:
C2.students[0].name

'S2'

In [45]:
class X:
  def __init__(self, num):
    self.num=num
  def add (self):
    return self.num+self.num
class Y:
  def __init__(self, num1):
    self.num1=num1
    self.list_1=[]
  def func(self, num2):
    print(num2.add())
    #print(self.num1)

In [46]:
if __name__=="__main__":
  a=X(2)
  b=Y(5)

In [47]:
a.add()

4

In [48]:
b.num1

5

In [49]:
b.func(a)

4

In [40]:
b.list_1[0]

2

In [116]:
class Common:
   class_attribute=0
   def __init__(self, name, age):
     self.name=name
     self.age=age
   def show(self):
     print(f"the name is {self.name} and age is {self.age}")
class dog(Common):
   def __init__(self, name, age, color):
     super().__init__(name, age)
     self.color=color
     #print("Hi")
class cat(Common):
    def fuc(self):
      print("Hellow")

In [117]:
if __name__=="__main__":
  c=dog("xy",2,"r")
  c.class_attribute

In [120]:
c.class_attribute

0

In [ ]:
#Class attribute

In [121]:
Common.class_attribute

0

In [104]:
D=cat("xyz", 12)

In [105]:
D.fuc()

Hellow

In [96]:
D.show()

the name is xyz and age is 12

In [122]:
class ABC:
  @staticmethod
  def add(x):
    return x+x
print(ABC.add(5))

10

In [ ]:
super().__init__(name, age)